<main class="layout">
  <header class="layout__header">
    <form class="layout__form" routerLink="">
      <button
      class="layout__btn list-btn"
      routerLinkActive="layout__btn_active"
      [routerLinkActiveOptions]="{exact:true}">
        Список
      </button>
    </form>

    <form class="layout__form" routerLink="/detail">
      <button class="layout__btn map-btn" routerLinkActive="layout__btn_active">
        Показать на карте
      </button>
    </form>
  </header>
  <router-outlet></router-outlet>
</main>




<!-- <ul>
  <li *ngFor="let company of companies">
    <img src={{company.logo}} alt="company logo">
  <p>Название компании: {{company.suffix}} {{company.business_name}}</p>
  <p>Возраст пользователя: {{company}}</p>
  </li>
</ul> -->
