<!-- <td class="table__cell"><img src={{companyLogo}} alt="Company logo" class="company-logo"></td>
<td class="table__cell">{{companySuffix}} {{companyBusinessName}}</td>
<td class="table__cell">{{companyIndustry}}</td>
<td class="table__cell">{{companyType}}</td> -->

<a [routerLink]="['detail', company.id]" [queryParams]=company>
  <img class="company-logo" src={{company.logo}} alt="Company logo" >
</a>
<div class="company-info">
  <p class="company-info__name">
    Name: {{company.suffix}} {{company.business_name}}
  </p>
  <p class="company-info__industry">
    Industry: {{company.industry}}
  </p>
  <p class="company-info__type">
    Type: {{company.type}}
  </p>
</div>
