<!-- <td class="table__cell"><img src={{companyLogo}} alt="Company logo" class="company-logo"></td>
<td class="table__cell">{{companySuffix}} {{companyBusinessName}}</td>
<td class="table__cell">{{companyIndustry}}</td>
<td class="table__cell">{{companyType}}</td> -->

<img class="company-logo" src={{companyLogo}} alt="Company logo">
<div class="company-info">
  <p class="company-info__name">
    Name: {{companySuffix}} {{companyBusinessName}}
  </p>
  <p class="company-info__industry">
    Industry: {{companyIndustry}}
  </p>
  <p class="company-info__type">
    Type: {{companyType}}
  </p>
</div>
